body {
    background-color: threedface;
}

nav a {
   color: red;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}
.body2{
    background-color: blue;
}
.body3{
    background-color: green;
}